.big-code, .big-code pre, .big-code pre.php
{
    font-size: 16px !important;	
}
.bsa_it_p{
    display:none !important;
}
.via_ad_packs{
    text-align:right;
    background: #F0F0F0 !important;
    border:1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-top:none !important;
    padding-right:5px;
    padding-bottom:5px;
    border-radius: 0px 0px 6px 6px;
}
.one .bsa_it_ad{
    border:1px solid #EEE !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-bottom:none !important;
    border-radius: 6px 6px 0px 0px;
    background: #F0F0F0 !important;
}
.classic-table
{
    width: 100%;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
.classic-table tr td, .classic-table tr th
{
    border: 1px solid #CCC;
    border-right: none;
    border-bottom: none;
    padding: 5px;
    text-align: left;
}

/** Custom CSS Start **/
.container .divSidebar{
    width: 20%;
}
.container .divContent{
    width: 80%;
}
.flexigrid div.form-div input[type=text], .flexigrid div.form-div input[type=password]{
    height: 40px !important;
}
.container-fluid{
    width: 85%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/** Side navbar **/

* {box-sizing: border-box;}
.navcontainer {
    height:100%;
}
navcontainer a {
    color:#fff;
    text-decoration:none;
    border-bottom:1px dotted #fff;
    padding:0px 0px 20px 0px;
    width:100%;
    display:block;
    height:100%;
}
navcontainer li {
    padding:20px 20px 0 20px;
    width:100%;
    color:#fff;
}
.navcontainer ul {height:100%;}
.navcontainer > ul {
    width:250px;
    position:relative;
    overflow:visible;
}
.navcontainer > ul > li {}
.navcontainer > ul > li:hover {background-color:#0f1e41;}
.navcontainer > ul > li > ul {
    display:none;
    position:absolute;
    right:-250px;
    top:0;
    width:250px;
    /*background-color:#18316a;*/
    z-index: 999;
}
.navcontainer > ul > li:hover > ul {
    display:block;
}
.navcontainer ul {
    padding: 0;
    list-style-type: none;
}
.navcontainer > ul > li > ul >li:hover {background-color:#0f1e41;}
.navcontainer > ul > li > ul > li > ul {
    display:none;
    position:absolute;
    right:-250px;
    top:0;
    width:250px;
    /*background-color:#f8f9fa;*/
}
.navcontainer > ul > li > ul > li:hover ul {
    display:block;
}
.navcontainer > ul > li > ul > li > ul > li:hover {background-color:#0f1e41;}
.navcontainer > ul > li > ul > li ul li ul li {
    border-bottom:1px dotted #fff;
    padding:20px;
}

/** Code for sub menu positioning **/
.clsUlCustomers{
    margin-top: 45px;
}
.clsUlOrders{
    margin-top: 92px;
}
.clsUlEmployee{
    margin-top: 184px;
}
.clsUlCategory{
    margin-top: 138px;
}

.tblOrderAdd .edit_button{
    float: left;
}
.tblOrderAdd .delete_button{
    float: right;
}
.frmOrderAdd #orderItem{
    width: 300px;
}
.frmOrderAdd #itemPrice, .frmOrderAdd #itemDiscount{
    width: 100px;
}
.frmOrderAdd #itemQuantity, .frmOrderAdd #itemGst{
    width: 80px;    
}
.frmOrderAdd #itemTotal{
    width: 180px;    
}
.frmOrderAdd .tblOrderAdd tbody tr{
    height: 35px;
}
.frmOrderAdd .tblOrderAdd tbody .clsdynamictr td{
    padding: 10px;
}

#frmOrderAdd .trHeadCustDetail{
    text-align: center;
}
#frmOrderAdd #customerMobile{
    width: 200px;
}
#frmOrderAdd #customerFirstName{
    width: 200px;
}
#frmOrderAdd #customerLastName{
    width: 200px;
}
#frmOrderAdd #customerAddress{
    width: 260px;
}

.tblOfficeDtl{
    width: 100% !important;
    text-align: center;
}

.tblCustomerDtl{
    width: 78%;
    float: left;
}

.tblOrderDtl{
    width: 20%;
}

.tblOrderItems{
    width: 100% !important;
    /*border: 2px solid black;*/
}
.tblOrderItems th, .tblOrderItems td{
    border: 1px solid black;
}
#frmOrderDetail{
    width: 100% !important;
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}